main
{
    width: 70%;
    margin: auto;
    font-family: sans-serif;
    line-height: 2em;
}
h1
{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1.5em;
    border-bottom: 3px black solid;
}
.intro, legend
{
    font-size: 1.4em;
}
legend
{
    font-size: 1.6em;
    background-color: #DFDFE0;
    border: 1px solid #BEBEC6;
    border-radius: 4px;
    padding: 2px 8px;
    
}
form
{
    margin: 5% 0 0 0;

}

fieldset
{
    margin: 2em auto;
    width: 75%;
    border: 1px solid #BEBEC6;
    border-radius: 8px;
}
input[type="submit"]
{
    display: block;
    font-size: 1.5em;
    padding: 5px 40px;
    margin: 50px auto;
    border-radius: 10px;
    border-bottom: 2px solid #b2b2b2;
    border-right: 2px solid #b2b2b2;
    background: -webkit-linear-gradient(top, #D8D8E0, #C6C5D7);
}
input[type="submit"]:hover
{
    background: -webkit-linear-gradient(top, #B0AFBC, #A3A1B5);
}
p
{
    font-size: 1.4em;
    padding: 0 0.3em 0 0;
}


input[type=radio],input[type=checkbox]
{
    margin: 0 18px;
}
input[type=text],#state,input[type=number]
{
    font-size: 0.8em;
}