main
{
    width: 70%;
    margin: auto;
}
h1
{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1.5em;
    border-bottom: 3px black solid;
}
.intro, legend, #platform
{
    font-size: 1.4em;
}
form
{
    margin: 10% 0 0 0;

}
input, .title, label, select, p
{
    font-size: 1.2em;
    padding: 0 0.3em 0 0;
    margin: 0.4em 0;
}

select, input,
{
    
    font-size: 1em;
}
fieldset
{
    margin:0 0 2em 0;
}
input[type="submit"]
{
    display: block;
    padding: 5px 40px;
    margin: 50px auto;
    border-radius: 10px;
    border-bottom: 2px solid #b2b2b2;
    border-right: 2px solid #b2b2b2;
    background: -webkit-linear-gradient(top, #D8D8E0, #C6C5D7);
}
input[type="submit"]:hover
{
    background: -webkit-linear-gradient(top, #B0AFBC, #A3A1B5);
}